:root{
  --light-text-01: rgb(0,0,0);
  --light-text-02: rgb(37, 36, 36);
  --light-text-03: rgb(51, 46, 46);
  --light-text-04: rgb(62, 57, 57);
  --light-text-05: rgb(82, 54, 54);
  --light-text-06: rgb(61, 61, 61);
  --dark-text-01: rgb(254, 254, 254);
  --dark-text-02: rgb(121, 121, 121);
  --dark-text-03: rgb(165, 165, 165);
  --dark-text-04: rgb(154, 151, 151);
  --dark-text-05: rgb(111, 107, 107);
  --dark-text-06: rgb(183, 169, 169);
}

.cl-button {
  --cl-button-background: var(--cl-color-hubspot-brand-01,#ff5c35);
  --cl-button-hover-background: var(--cl-color-hover-brand-01,#e04826);
  --cl-button-pressed-background: var(--cl-color-pressed-brand-01,#b3361d);
  --cl-button-disabled-background: var(--cl-color-disabled-02,#eaf0f6);
  --cl-button-border-color: transparent;
  --cl-button-border-width: 2px;
  --cl-button-border: var(--cl-button-border-width) solid var(--cl-button-border-color);
  --cl-button-color: var(--cl-color-text-on-color-01,#fff);
  --cl-button-hover-color: var(--cl-button-color);
  --cl-button-pressed-color: var(--cl-button-hover-color);
  --cl-button-disabled-color: var(--cl-color-disabled-01,#99afc4);
  --cl-button-font-size: 1rem;
  --cl-button-line-height: 1.75;
  --cl-button-padding: 0.75rem 1.5rem;
  background: var(--cl-button-background);
  border: var(--cl-button-border);
  border-radius: 8px;
  color: var(--cl-button-color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--cl-button-font-size);
  font-weight: 500;
  line-height: var(--cl-button-line-height);
  padding: var(--cl-button-padding);
  text-align: center;
  text-decoration: none;
  transition: background-color .15s linear,color .15s linear;
}

.cl-button.-primary {
  --cl-button-background: #ff5c35;
  --cl-button-hover-background: #e04826;
  --cl-button-pressed-background: #b3361d;
  --cl-button-color: #fff;
}

.cl-button.-small {
  --cl-button-font-size: 0.875rem;
  --cl-button-line-height: 1.57142857;
  --cl-button-padding: 0.5rem 1rem;
}

.cl-button.-medium {
  --cl-button-font-size: 1rem;
  --cl-button-line-height: 1.75;
  --cl-button-padding: 0.75rem 1.5rem;
}

.blog-post-sticky-cta {
  margin-top: 1rem;
  width: 100%;
}

.am-container {
  max-width: 1440px;
}