/* General styles */
.menu {
    color: #fff;
    background-color: #004D40;
}

.menu,
.logo img,
.desktop-menu a{
    height: 50px;
}

/* Desktop menu */
.desktop-menu {
    padding: 0;
}
.desktop-menu ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

.desktop-menu a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 10px 15px;
}

.desktop-menu a:hover {
    background-color: #010a4d;
}
.desktop-menu-wrapper {
    display: flex;
    align-items: center;
}



.desktop-menu-wrapper .am-dropdown {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 184px;
    line-height: 50px;
    position: relative;
    background-color: #7CB342;
    cursor: pointer;
}

.am-dropdown-button{
    display: block;
}



.desktop-menu-wrapper .am-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    line-height: normal;
    background-color: #003bcf;
    z-index: 1;
}

.desktop-menu-wrapper .am-dropdown:hover .am-dropdown-menu {
    display: block;
}

.desktop-menu-wrapper .am-dropdown-menu ul {
    padding: 0;
    margin: 0;
    display: block;
    background-color: #003bcf;
}

.desktop-menu-wrapper .am-dropdown-menu ul li {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #003bcf;
}

.desktop-menu-wrapper .am-dropdown-menu ul li a{
    display: block;
    outline: none;
}

/* Mobile menu */
.mobile-menu {
    display: none;
    position: relative;
    padding: 10px 20px;
}

.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu-items {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
    z-index: 99999;
    width: 100%;
}

.mobile-menu-items a {
    display: block;
    padding: 10px 15px;
    color: #fdff00;
    text-decoration: none;
    background-color: #3b3b3b;
    border-top: 1px solid #ddd;
}

.mobile-menu-items a:hover {
    background-color: #eee;
}

/* Responsive styles */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
}

.mobile-menu-items.active {
    display: block;
}
